# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv*
Edu_Venv/
Scripts/

# Environment variable files
.env
*.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# PyInstaller
*.spec

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache


.env
